[user]
	name = Paulo Castellano
	email = paulofcastellano@gmail.com

[github]
	user = paulocastellano

[core]
	editor = vim
	excludesfile = ~/.dotfiles/git/gitignore

[color]
	ui = auto

[pull]
  ff = only
